/* ==========================================================================
   Icons - Sets up the icon font and respective classes
   ========================================================================== */
/* Import the font file with the icons in it */
@font-face {
  font-family: 'icons';
  src: url('../fonts/icons.eot');
  src: url('../fonts/icons.eot?#iefix') format('embedded-opentype'), url('../fonts/icons.woff') format('woff'), url('../fonts/icons.ttf') format('truetype'), url('../fonts/icons.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Apply these base styles to all icons */
.icon-ghost:before,
.icon-feed:before,
.icon-twitter:before,
.icon-google-plus:before,
.icon-facebook:before {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Each icon is created by inserting the corret character into the
   content of the :before pseudo element. Like a boss. */
.icon-ghost:before {
  content: "\e000";
}
.icon-feed:before {
  content: "\e001";
}
.icon-twitter:before {
  content: "\e002";
  font-size: 1.1em;
}
.icon-google-plus:before {
  content: "\e003";
}
.icon-facebook:before {
  content: "\e004";
}
/* ==========================================================================
   General - Setting up some base styles
   ========================================================================== */
html {
  height: 100%;
  max-height: 100%;
  font-size: 62.5%;
  font-weight: 300;
  background: #000000;
}
body {
  height: 100%;
  max-height: 100%;
  font-family: 'Open Sans', serif;
  font-size: 2.0rem;
  line-height: 1.6em;
  color: #3A4145;
}
::-moz-selection {
  color: #222;
  background: #D6EDFF;
  text-shadow: none;
}
::selection {
  color: #222;
  background: #D6EDFF;
  text-shadow: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizeLegibility;
  line-height: 1;
  margin-top: 0;
  font-weight: 600;
}
h1 {
  font-size: 5rem;
  line-height: 1.2em;
  letter-spacing: -2px;
  text-indent: -3px;
}
h2 {
  font-size: 4rem;
  line-height: 1.2em;
  letter-spacing: -1px;
  text-indent: -2px;
}
h3 {
  font-size: 3.5rem;
}
h4 {
  font-size: 3rem;
}
h5 {
  font-size: 2.5rem;
}
h6 {
  font-size: 2rem;
}
a {
  color: #57A3E8;
  transition: color ease 0.3s;
  text-decoration: none;
}
a:hover {
  color: #3986AA;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #50585D;
}
p,
ul,
ol,
dl {
  margin: 1.6em 0;
}
ol ol,
ul ul,
ul ol,
ol ul {
  margin: 0.4em 0;
}
ol li ol {
  list-style-type: upper-alpha;
}
ol li ol li ol {
  list-style-type: decimal;
}
ol li ol li ol li ol {
  list-style-type: upper-alpha;
}
dl dt {
  float: left;
  width: 180px;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  margin-bottom: 1em;
}
dl dd {
  margin-left: 200px;
  margin-bottom: 1em;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #efefef;
  margin: 3.2em 0;
  padding: 0;
}
blockquote {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1.6em 0 1.6em 0;
  border-left: #4a4a4a 0.5em solid;
  font-style: italic;
  background: #f5f5f5;
  padding: 20px;
}
blockquote p {
  margin: 0.8em 0;
}
blockquote p:last-child {
  margin-bottom: 0;
}
blockquote small {
  display: inline-block;
  margin: 0.8em 0 0.8em 1.5em;
  font-size: 0.9em;
  color: #ccc;
}
blockquote small:before {
  content: '\2014 \00A0';
}
blockquote cite {
  font-weight: bold;
}
blockquote cite a {
  font-weight: normal;
}
mark {
  background-color: #ffc336;
}
code,
tt {
  padding: 1px 3px;
  font-family: Inconsolata, monospace, sans-serif;
  font-size: 0.85em;
  white-space: pre-wrap;
  border: 1px solid #E3EDF3;
  background: #F7FAFB;
  border-radius: 2px;
}
pre {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1.6em 0;
  border: 1px solid #E3EDF3;
  width: 100%;
  padding: 10px;
  font-family: Inconsolata, monospace, sans-serif;
  font-size: 0.9em;
  line-height: 1.5em;
  white-space: pre;
  overflow: auto;
  background: #F7FAFB;
  border-radius: 3px;
}
pre code,
tt {
  font-size: inherit;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
  background: transparent;
  border: none;
  padding: 0;
}
kbd {
  display: inline-block;
  margin-bottom: 0.4em;
  padding: 1px 8px;
  border: #ccc 1px solid;
  color: #666;
  text-shadow: #fff 0 1px 0;
  font-size: 0.9em;
  font-weight: bold;
  background: #f4f4f4;
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 0 #ffffff inset;
}
table {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1.6em 0;
  width: 100%;
  max-width: 100%;
  background-color: transparent;
}
table th,
table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #efefef;
}
table th {
  color: #000;
}
table caption + thead tr:first-child th,
table caption + thead tr:first-child td,
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
  border-top: 0;
}
table tbody + tbody {
  border-top: 2px solid #efefef;
}
table table table {
  background-color: #fff;
}
table tbody > tr:nth-child(odd) > td,
table tbody > tr:nth-child(odd) > th {
  background-color: #f6f6f6;
}
table.plain tbody > tr:nth-child(odd) > td,
table.plain tbody > tr:nth-child(odd) > th {
  background: transparent;
}
iframe,
.fluid-width-video-wrapper {
  display: block;
  margin: 1.6em 0;
}
/* When a video is inside the fitvids wrapper, drop the
margin on the iframe, cause it breaks stuff. */
.fluid-width-video-wrapper iframe {
  margin: 0;
}

/* ========================================================================
   Component: Nav
 ========================================================================== */
.uk-nav,
.uk-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/*
 * Items
 */
.uk-nav li > a {
  display: block;
  text-decoration: none;
}
.uk-nav > li > a {
  padding: 5px 15px;
}
/*
 * Nested items
 */
.uk-nav ul {
  padding-left: 15px;
}
.uk-nav ul a {
  padding: 2px 0;
}
/*
 * Item subtitle
 */
.uk-nav li > a > div {
  font-size: 12px;
  line-height: 18px;
}
/* Sub-object: `uk-nav-header`
 ========================================================================== */
.uk-nav-header {
  padding: 5px 15px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}
.uk-nav-header:not(:first-child) {
  margin-top: 15px;
}
/* Sub-object: `uk-nav-divider`
 ========================================================================== */
.uk-nav-divider {
  margin: 9px 15px;
}
/* Sub-object: `uk-nav-sub`
 ========================================================================== */
/*
 * `ul` needed for higher specificity to override padding
 */
ul.uk-nav-sub {
  padding: 5px 0 5px 15px;
}
/* Modifier: `uk-nav-parent-icon`
 ========================================================================== */
.uk-nav-parent-icon > .uk-parent > a:after {
  content: "\f104";
  width: 20px;
  margin-right: -10px;
  float: right;
  font-family: FontAwesome;
  text-align: center;
}
.uk-nav-parent-icon > .uk-parent.uk-open > a:after {
  content: "\f107";
}
/* Modifier `uk-nav-side`
 ========================================================================== */
/*
 * Items
 */
.uk-nav-side > li > a {
  color: #444;
}
/*
 * Hover
 * 1. Apply hover style also to focus state
 * 2. Remove default focus style
 */
.uk-nav-side > li > a:hover,
.uk-nav-side > li > a:focus {
  background: rgba(0, 0, 0, 0.03);
  color: #444;
  /* 2 */
  outline: none;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  text-shadow: 0 -1px 0 #fff;
}
/* Active */
.uk-nav-side > li.uk-active > a {
  background: #57a8cb;
  color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
/*
 * Sub-object: `uk-nav-header`
 */
.uk-nav-side .uk-nav-header {
  color: #444;
}
/*
 * Sub-object: `uk-nav-divider`
 */
.uk-nav-side .uk-nav-divider {
  border-top: 1px solid #ddd;
  box-shadow: 0 1px 0 #fff;
}
/*
 * Nested items
 */
.uk-nav-side ul a {
  color: #777777;
}
.uk-nav-side ul a:hover {
  color: #53a2c3;
}
/* Modifier `uk-nav-dropdown`
 ========================================================================== */
/*
 * Items
 */
.uk-nav-dropdown > li > a {
  color: #444;
}
/*
 * Hover
 * 1. Apply hover style also to focus state
 * 2. Remove default focus style
 */
.uk-nav-dropdown > li > a:hover,
.uk-nav-dropdown > li > a:focus {
  background: #57a8cb;
  color: #fff;
  /* 2 */
  outline: none;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
/*
 * Sub-object: `uk-nav-header`
 */
.uk-nav-dropdown .uk-nav-header {
  color: #999;
}
/*
 * Sub-object: `uk-nav-divider`
 */
.uk-nav-dropdown .uk-nav-divider {
  border-top: 1px solid #ddd;
}
/*
 * Nested items
 */
.uk-nav-dropdown ul a {
  color: #777777;
}
.uk-nav-dropdown ul a:hover {
  color: #53a2c3;
}
/* Modifier `uk-nav-navbar`
 ========================================================================== */
/*
 * Items
 */
.uk-nav-navbar > li > a {
  color: #444;
}
/*
 * Hover
 * 1. Apply hover style also to focus state
 * 2. Remove default focus style
 */
.uk-nav-navbar > li > a:hover,
.uk-nav-navbar > li > a:focus {
  background: #57a8cb;
  color: #fff;
  /* 2 */
  outline: none;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
/*
 * Sub-object: `uk-nav-header`
 */
.uk-nav-navbar .uk-nav-header {
  color: #3d4549;
}
/*
 * Sub-object: `uk-nav-divider`
 */
.uk-nav-navbar .uk-nav-divider {
  border-top: 1px solid #ddd;
}
/*
 * Nested items
 */
.uk-nav-navbar ul a {
  color: #777777;
}
.uk-nav-navbar ul a:hover {
  color: #53a2c3;
}
/* Modifier `uk-nav-offcanvas`
 ========================================================================== */
/*
 * Items
 */
.uk-nav-offcanvas > li > a {
  color: #ccc;
  padding: 10px 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
/*
 * Hover
 * No hover on touch devices because it behaves buggy in fixed offcanvas
 * 1. Apply hover style also to focus state
 * 2. Remove default focus style
 */
.uk-nav-offcanvas > .uk-open > a,
html:not(.uk-touch) .uk-nav-offcanvas > li > a:hover,
html:not(.uk-touch) .uk-nav-offcanvas > li > a:focus {
  background: #404040;
  color: #fff;
  /* 2 */
  outline: none;
}
/*
 * Active
 * `html .uk-nav` needed for higher specificity to override hover
 */
html .uk-nav.uk-nav-offcanvas > li.uk-active > a {
  background: #1a1a1a;
  color: #fff;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
}
/*
 * Sub-object: `uk-nav-header`
 */
.uk-nav-offcanvas .uk-nav-header {
  color: #777;
  margin-top: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  background: #404040;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
/*
 * Sub-object: `uk-nav-divider`
 */
.uk-nav-offcanvas .uk-nav-divider {
  border-top: 1px solid rgba(255, 255, 255, 0.01);
  margin: 0;
  height: 4px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
}
/*
 * Nested items
 * No hover on touch devices because it behaves buggy in fixed offcanvas
 */
.uk-nav-offcanvas ul a {
  color: #ccc;
}
html:not(.uk-touch) .uk-nav-offcanvas ul a:hover {
  color: #fff;
}
/*
     * Modifier `uk-nav-offcanvas`
     */
.uk-nav-offcanvas {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05);
}
/*
     * Sub-object: `uk-nav-sub`
     */
.uk-nav-offcanvas .uk-nav-sub {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
}
/* ========================================================================
   Component: Navbar
 ========================================================================== */
.uk-navbar {
  background: #FFF;
  color: #3d4549;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom-color: rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-origin: border-box;
}
/*
 * Micro clearfix
 */
.uk-navbar:before,
.uk-navbar:after {
  content: "";
  display: table;
}
.uk-navbar:after {
  clear: both;
}
/* Sub-object: `uk-navbar-nav`
 ========================================================================== */
.uk-navbar-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
}
/*
 * 1. Create position context for dropdowns
 */
.uk-navbar-nav > li {
  float: left;
  /* 1 */
  position: relative;
}
/*
 * 1. Dimensions
 * 2. Style
 */
.uk-navbar-nav > li > a {
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  /* 1 */
  height: 41px;
  padding: 0 15px;
  line-height: 40px;
  /* 2 */
  color: #6f7c82;
  font-size: 14px;
  font-weight: 400;
  margin-top: -1px;
  margin-left: -1px;
  border: 1px solid transparent;
  border-bottom-width: 0;
  letter-spacing: -0.02em;
  text-shadow: 0 1px 0 #fff;
}
/* Appear not as link */
.uk-navbar-nav > li > a[href='#'] {
  cursor: text;
}
/*
 * Hover
 * 1. Apply hover style also to focus state
 * 2. Also apply if dropdown is opened
 * 3. Remove default focus style
 */
.uk-navbar-nav > li:hover > a,
.uk-navbar-nav > li > a:focus,
.uk-navbar-nav > li.uk-open > a {
  background-color: rgba(0, 0, 0, 0.1);
  color: #444;
  /* 3 */
  outline: none;
  position: relative;
  z-index: 1;
  border-left-color: rgba(0, 0, 0, 0.1);
  border-right-color: rgba(0, 0, 0, 0.1);
  border-top-color: rgba(0, 0, 0, 0.1);
}
/* OnClick */
.uk-navbar-nav > li > a:active {
  background-color: #f5f5f5;
  color: #444;
  border-left-color: rgba(0, 0, 0, 0.1);
  border-right-color: rgba(0, 0, 0, 0.1);
  border-top-color: rgba(0, 0, 0, 0.2);
}
/* Active */
.uk-navbar-nav > li.uk-active > a {
  background-color: #f2f2f2;
  color: #3d4549;
  border-left-color: rgba(0, 0, 0, 0.1);
  border-right-color: rgba(0, 0, 0, 0.1);
  border-top-color: rgba(0, 0, 0, 0.2);
}
/* Sub-objects: `uk-navbar-nav-subtitle`
 ========================================================================== */
.uk-navbar-nav .uk-navbar-nav-subtitle {
  line-height: 28px;
}
.uk-navbar-nav-subtitle > div {
  margin-top: -6px;
  font-size: 10px;
  line-height: 12px;
}
/* Sub-objects: `uk-navbar-content`, `uk-navbar-brand`, `uk-navbar-toggle`
 ========================================================================== */
/*
 * Imitate navbar items
 */
.uk-navbar-content,
.uk-navbar-brand,
.uk-navbar-toggle {
  box-sizing: border-box;
  display: block;
  height: 41px;
  padding: 0 15px;
  float: left;
  margin-top: -1px;
  text-shadow: 0 1px 0 #fff;
}
/*
 * Helper to center all child elements vertically
 */
.uk-navbar-content:before,
.uk-navbar-brand:before,
.uk-navbar-toggle:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
/* Sub-objects: `uk-navbar-content`
 ========================================================================== */
/*
 * Better sibling spacing
 */
.uk-navbar-content + .uk-navbar-content:not(.uk-navbar-center) {
  padding-left: 0;
}
/*
 * Link colors
 */
.uk-navbar-content > a:not([class]) {
  color: #777777;
}
.uk-navbar-content > a:not([class]):hover {
  color: #53a2c3;
}
/* Sub-objects: `uk-navbar-brand`
 ========================================================================== */
.uk-navbar-brand {
  font-size: 1.1em;
  color: #3d4549;
  text-decoration: none;
}
/*
 * 1. Apply hover style also to focus state
 * 2. Remove default focus style
 */
.uk-navbar-brand:hover,
.uk-navbar-brand:focus {
  color: #444;
  text-decoration: none;
  /* 2 */
  outline: none;
}
/* Sub-object: `uk-navbar-toggle`
 ========================================================================== */
.uk-navbar-toggle {
  font-size: 18px;
  color: #3d4549;
  text-decoration: none;
}
/*
 * 1. Apply hover style also to focus state
 * 2. Remove default focus style
 */
.uk-navbar-toggle:hover,
.uk-navbar-toggle:focus {
  color: #444;
  text-decoration: none;
  /* 2 */
  outline: none;
}
/*
 * 1. Center icon vertically
 */
.uk-navbar-toggle:after {
  content: "\f0c9";
  font-family: FontAwesome;
  /* 1 */
  vertical-align: middle;
}
.uk-navbar-toggle-alt:after {
  content: "\f002";
}
/* Sub-object: `uk-navbar-center`
 ========================================================================== */
/*
 * The element with this class needs to be last child in the navbar
 * 1. This hack is needed because other float elements shift centered text
 */
.uk-navbar-center {
  float: none;
  text-align: center;
  /* 1 */
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}
/* Sub-object: `uk-navbar-flip`
 ========================================================================== */
.uk-navbar-flip {
  float: right;
}
/*
     * Apply same `border-radius` as `uk-navbar`
     */
.uk-navbar-nav:first-child > li:first-child > a {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
/*
     * Sub-modifier `uk-navbar-flip`
     */
/* Collapse border */
.uk-navbar-flip .uk-navbar-nav > li > a {
  margin-left: 0;
  margin-right: -1px;
}
/* Apply same `border-radius` as `uk-navbar` */
.uk-navbar-flip .uk-navbar-nav:first-child > li:first-child > a {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.uk-navbar-flip .uk-navbar-nav:last-child > li:last-child > a {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/*
     * Sub-modifier `uk-navbar-attached`
     */
.uk-navbar-attached {
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-radius: 0;
  z-index: 10;
}
.uk-navbar-attached .uk-navbar-nav > li > a {
  border-radius: 0 !important;
}
.uk-navbar-attached img.uk-navbar-brand {
  padding: 8px;
}
/* ========================================================================
   Component: Subnav
 ========================================================================== */
/*
 * 1. Gutter
 * 2. Remove default list style
 */
.uk-subnav {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  /* 1 */
  margin-left: -10px;
  margin-top: -10px;
  /* 2 */
  padding: 0;
  list-style: none;
}
/*
 * 1. Space is allocated solely based on content dimensions
 * 2. Horizontal gutter is using `padding` so `uk-width-*` classes can be applied
 * 3. Create position context for dropdowns
 */
.uk-subnav > * {
  /* 1 */
  -ms-flex: none;
  -webkit-flex: none;
  flex: none;
  /* 2 */
  padding-left: 10px;
  margin-top: 10px;
  /* 3 */
  position: relative;
}
/*
 * DEPRECATED IE9 Support
 */
.uk-subnav:before,
.uk-subnav:after {
  content: "";
  display: block;
  overflow: hidden;
}
.uk-subnav:after {
  clear: both;
}
.uk-subnav > * {
  float: left;
}
/* Items
 ========================================================================== */
.uk-subnav > * > * {
  display: inline-block;
  color: #444;
}
/*
 * Hover
 * 1. Apply hover style also to focus state
 */
.uk-subnav > * > :hover,
.uk-subnav > * > :focus {
  color: #777777;
  text-decoration: none;
}
/*
 * Active
 */
.uk-subnav > .uk-active > * {
  color: #777777;
}
/* Modifier: 'subnav-line'
 ========================================================================== */
.uk-subnav-line > :before {
  content: "";
  display: inline-block;
  height: 10px;
  vertical-align: middle;
}
.uk-subnav-line > :nth-child(n+2):before {
  margin-right: 10px;
  border-left: 1px solid #ddd;
}
/* Modifier: 'subnav-pill'
 ========================================================================== */
.uk-subnav-pill > * > * {
  padding: 3px 9px;
  border-radius: 4px;
}
/*
 * Hover
 * 1. Apply hover style also to focus state
 * 2. Remove default focus style
 */
.uk-subnav-pill > * > :hover,
.uk-subnav-pill > * > :focus {
  background: #fafafa;
  color: #444;
  text-decoration: none;
  /* 2 */
  outline: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}
/*
 * Active
 * `li` needed for higher specificity to override hover
 */
.uk-subnav-pill > .uk-active > * {
  background: #57a8cb;
  color: #fff;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}
/* Disabled state
 ========================================================================== */
.uk-subnav > .uk-disabled > * {
  background: none;
  color: #999;
  text-decoration: none;
  cursor: text;
  box-shadow: none;
}

/* ==========================================================================
   Utilities - These things get used a lot
   ========================================================================== */
/* Clears shit */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
/* Hides shit */
.hidden {
  text-indent: -9999px;
  visibility: hidden;
  display: none;
}
/* Centres vertically yo. (IE8+) */
.vertical {
  display: table-cell;
  vertical-align: middle;
}
main {
  background: #ffffff;
}
.pane {
  width: 100%;
  max-width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
}
.author-page {
  min-height: 800px;
}
.author-page .pane {
  padding-top: 40px;
}
.author-page h2 {
  padding-bottom: 20px;
  text-align: center;
}
.strip {
  max-width: 1100px;
  margin: auto;
  padding: 0 50px;
}
/* ==========================================================================
   General - The main styles for the the theme
   ========================================================================== */
article {
  font-size: 2rem;
  line-height: 2.8rem;
}
/* ==========================================================================
   Main Page - The main listing of posts
   ========================================================================== */
.post-preview {
  margin: 0 auto 100px;
}
.post-preview .post-image {
  height: 400px;
  background-position: center;
  background-size: cover;
}
.post-preview .post-image.no-cover {
  display: none;
}
.post-preview .author-thumb {
  width: 24px;
  height: 24px;
  float: left;
  margin-right: 9px;
  border-radius: 100%;
}
.post-preview:last-child {
  margin-bottom: 0;
}
.post-preview .post-header {
  padding: 20px 0 0 0;
}
.post-preview .post-header h2,
.post-preview .post-header h3 {
  margin-bottom: 10px;
  font-size: 3rem;
  color: #3A4145;
  transition: all 0.2s ease, top 0.3s ease;
}
.post-preview .post-header h2:hover,
.post-preview .post-header h3:hover {
  color: #57A3E8;
  transition: all 0.2s ease, top 0.3s ease;
}
.post-preview .post-header .post-meta {
  color: #909A9E;
  font-size: 1.5rem;
}
.post-preview .post-excerpt {
  padding: 20px 0 0 0;
}
.post-preview .post-excerpt p {
  margin: 0;
  padding: 0;
}
.author-page .post-preview {
  margin: 0 auto 50px;
}
/* ==========================================================================
   Single Post - When you click on an individual post
   ========================================================================== */
.single-post .post-image,
.page .post-image,
.author-page .post-image {
  height: 600px;
  overflow: hidden;
  background-position: center;
  background-size: cover;
}
.single-post .post-image.no-cover,
.page .post-image.no-cover,
.author-page .post-image.no-cover {
  display: none;
}
.single-post.author-page .post-header,
.page.author-page .post-header,
.author-page.author-page .post-header {
  margin-bottom: 0;
}
.single-post.author-page .post-header h2,
.page.author-page .post-header h2,
.author-page.author-page .post-header h2 {
  margin-bottom: 10px;
}
.single-post .post-header,
.page .post-header,
.author-page .post-header {
  margin-bottom: 50px;
}
.single-post .post-header h2,
.page .post-header h2,
.author-page .post-header h2 {
  margin-bottom: 10px;
}
.single-post .post-header .post-meta,
.page .post-header .post-meta,
.author-page .post-header .post-meta {
  color: #909A9E;
  font-size: 1.5rem;
}
.single-post .post-body,
.page .post-body,
.author-page .post-body,
.single-post .author-body,
.page .author-body,
.author-page .author-body {
  position: relative;
}
.single-post .post-content,
.page .post-content,
.author-page .post-content,
.single-post .author-posts,
.page .author-posts,
.author-page .author-posts {
  max-width: 700px;
}
.single-post .post-content p:first-of-type,
.page .post-content p:first-of-type,
.author-page .post-content p:first-of-type,
.single-post .author-posts p:first-of-type,
.page .author-posts p:first-of-type,
.author-page .author-posts p:first-of-type {
  margin-top: 0;
}
.single-post .post-content img,
.page .post-content img,
.author-page .post-content img,
.single-post .author-posts img,
.page .author-posts img,
.author-page .author-posts img {
  width: 100%;
}
.single-post .post-footer,
.page .post-footer,
.author-page .post-footer {
  max-width: 700px;
  font-size: 1.75rem;
  margin: 50px 0 0;
  color: #A1B2BB;
}
.single-post .post-footer .meta,
.page .post-footer .meta,
.author-page .post-footer .meta {
  float: left;
}
.single-post .post-footer .meta .author,
.page .post-footer .meta .author,
.author-page .post-footer .meta .author {
  margin-right: 20px;
  font-weight: 700;
}
.single-post .post-footer .share,
.page .post-footer .share,
.author-page .post-footer .share {
  float: right;
}
.single-post .post-footer .share a,
.page .post-footer .share a,
.author-page .post-footer .share a {
  margin: 0 2px;
  color: #839aa6;
}
.single-post .post-footer .share a:hover,
.page .post-footer .share a:hover,
.author-page .post-footer .share a:hover {
  color: #526671;
}
.single-post .post-footer .share a:first-of-type,
.page .post-footer .share a:first-of-type,
.author-page .post-footer .share a:first-of-type {
  margin-left: 10px;
}
.single-post .post-footer .share a:last-of-type,
.page .post-footer .share a:last-of-type,
.author-page .post-footer .share a:last-of-type {
  margin-right: 0;
}
.single-post .post-footer hr,
.page .post-footer hr,
.author-page .post-footer hr {
  display: none;
  margin-top: 20px;
  margin-bottom: 0;
}
.single-post .post-author,
.page .post-author,
.author-page .post-author {
  width: 300px;
  position: absolute;
  top: 0;
  right: 0;
}
.single-post .post-author h3,
.page .post-author h3,
.author-page .post-author h3 {
  font-size: 3rem;
  display: block;
  height: 50px;
  margin: 0;
  font-weight: 300;
}
.single-post .post-author .author,
.page .post-author .author,
.author-page .post-author .author {
  position: relative;
}
.single-post .post-author .author .portrait,
.page .post-author .author .portrait,
.author-page .post-author .author .portrait {
  width: 100%;
  line-height: 0;
}
.single-post .post-author .author .portrait img,
.page .post-author .author .portrait img,
.author-page .post-author .author .portrait img {
  width: 100%;
}
.single-post .post-author .author .bio,
.page .post-author .author .bio,
.author-page .post-author .author .bio {
  padding: 35px 40px;
  background: #000000;
  color: #ffffff;
}
.single-post .post-author .author .bio h4,
.page .post-author .author .bio h4,
.author-page .post-author .author .bio h4 {
  font-size: 2.5rem;
  line-height: 3rem;
  margin-bottom: 20px;
  font-weight: 600;
}
.single-post .post-author .author .bio h4 a,
.page .post-author .author .bio h4 a,
.author-page .post-author .author .bio h4 a {
  color: #ffffff;
}
.single-post .post-author .author .bio h4 a:hover,
.page .post-author .author .bio h4 a:hover,
.author-page .post-author .author .bio h4 a:hover {
  color: #3986AA;
}
.single-post .post-author .author .bio p,
.page .post-author .author .bio p,
.author-page .post-author .author .bio p {
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #979DA0;
  margin-bottom: 10px;
}
.single-post .post-author .author .bio p:first-of-type,
.page .post-author .author .bio p:first-of-type,
.author-page .post-author .author .bio p:first-of-type {
  margin-top: 0;
}
.single-post .post-author .author .bio .location,
.page .post-author .author .bio .location,
.author-page .post-author .author .bio .location {
  display: block;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.single-post .post-author .author .bio .website,
.page .post-author .author .bio .website,
.author-page .post-author .author .bio .website {
  display: block;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.single-post .post-comments,
.page .post-comments,
.author-page .post-comments {
  max-width: 700px;
}
.single-post .post-comments hr,
.page .post-comments hr,
.author-page .post-comments hr {
  margin-top: 20px;
  margin-bottom: 50px;
}
.page .post-content,
.page .author-posts {
  max-width: none;
}
/* ==========================================================================
   Tag archive
   ========================================================================== */
.tag {
  padding-bottom: 0;
  text-align: center;
  font-size: 4rem;
}
/* ==========================================================================
   Third Party Elements - Embeds from other services
   ========================================================================== */
/* Github */
.gist table {
  margin: 0;
  font-size: 1.4rem;
}
.gist .line-number {
  min-width: 25px;
  font-size: 1.1rem;
}
/* ==========================================================================
   Pagination - Tools to let you flick between pages
   ========================================================================== */
/* The main wrapper for our pagination links */
.pagination {
  position: relative;
  margin: 4rem auto;
  font-size: 1.3rem;
  color: #9EABB3;
  text-align: center;
  margin: 0 auto;
}
.pagination a {
  color: #5A6E7A;
}
/* Push the previous/next links out to the left/right */
.older-posts,
.newer-posts {
  position: absolute;
  display: inline-block;
  padding: 0 15px;
  text-decoration: none;
  transition: border ease 0.3s;
  background: #EFF3F5;
  padding: 2px 10px;
}
.older-posts {
  right: 0;
}
.page-number {
  display: inline-block;
  padding: 2px 0;
}
.newer-posts {
  left: 0;
}
.older-posts:hover,
.newer-posts:hover {
  background: #C8D5DB;
}
/* ==========================================================================
   Header - The top of the main page
   ========================================================================== */
.site-head {
  position: relative;
  height: 60%;
  max-height: 400px;
  background-color: #000000;
  background-position: center;
  background-size: cover;
  display: table;
  width: 100%;
  padding: 50px 0;
  color: #ffffff;
  text-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
  text-align: center;
}
.site-head .verticle {
  display: table-cell;
  vertical-align: middle;
}
.site-head .blog-logo {
  max-height: 100px;
  display: block;
  margin: 0 0 20px 0;
}
.site-head .blog-logo img {
  max-height: 100px;
}
.site-head h1 {
  font-size: 4rem;
  font-weight: 600;
  margin: 0;
}
.site-head h2 {
  font-size: 2.5rem;
  font-weight: 300;
  margin: 10px 0 0 0;
}
/* ==========================================================================
   Page Header - The top of pages
   ========================================================================== */
.site-page-head {
  position: relative;
  height: 200px;
  background: #000000;
  display: table;
  width: 100%;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s ease, top 0.3s ease;
}
.site-page-head .verticle {
  display: table-cell;
  vertical-align: middle;
}
.site-page-head .blog-title-link {
  max-height: 120px;
  display: inline-block;
  vertical-align: top;
  color: #ffffff;
  padding: 20px;
}
.site-page-head .blog-title-link img {
  max-height: 80px;
  margin: 0 20px 0 0;
}
.site-page-head .blog-title-link h1 {
  display: inline-block;
  font-size: 4rem;
  font-weight: 600;
  margin: 0;
  height: 80px;
  vertical-align: top;
  line-height: 80px;
  transition: all 0.2s ease, top 0.3s ease;
}
/* ==========================================================================
   Footer - The bottom of every page
   ========================================================================== */
.site-footer {
  position: relative;
  margin: 0;
  padding: 80px 0;
  font-size: 1.3rem;
  line-height: 1.7em;
  color: #81919B;
  text-align: center;
  background: #F0F2F3;
}
.site-footer a {
  color: #4F5E68;
}
.site-footer a:hover {
  color: #1E9BD6;
}
.poweredby .icon-ghost {
  font-weight: 700;
  text-decoration: none;
}
.poweredby .icon-ghost:hover {
  text-decoration: none;
}
.poweredby .icon-ghost:before {
  font-size: 1rem;
  margin-right: 0.2em;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (max-width: 1200px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3.0rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  h4 {
    font-size: 2.0rem;
  }
  article {
    font-size: 1.5rem;
    line-height: 2.2rem;
  }
  .site-page-head {
    height: 150px;
  }
  .site-page-head .blog-title-link h1 {
    font-size: 3rem;
  }
  /* Main Page */
  .post-preview .post-image {
    height: 300px;
  }
  /* Post Page */
  .single-post .post-image,
  .page .post-image,
  .author-page .post-image {
    height: 450px;
  }
  .single-post .post-header h2,
  .page .post-header h2,
  .author-page .post-header h2 {
    font-size: 4rem;
  }
  .single-post .post-body,
  .page .post-body,
  .author-page .post-body,
  .single-post .author-body,
  .page .author-body,
  .author-page .author-body {
    padding-right: 350px;
  }
  .single-post .post-author h4,
  .page .post-author h4,
  .author-page .post-author h4 {
    font-size: 2.5rem;
    height: 40px;
  }
  .page .post-body,
  .page .author-body {
    padding-right: 0;
  }
}
@media only screen and (max-width: 992px) {
  .strip {
    max-width: 700px;
  }
  /* Post Page */
  .single-post .post-image,
  .page .post-image,
  .author-page .post-image {
    height: 400px;
  }
  .single-post .post-body,
  .page .post-body,
  .author-page .post-body,
  .single-post .author-body,
  .page .author-body,
  .author-page .author-body {
    padding-right: 0;
  }
  .single-post .post-footer .author,
  .page .post-footer .author,
  .author-page .post-footer .author {
    display: none;
  }
  .single-post .post-footer hr,
  .page .post-footer hr,
  .author-page .post-footer hr {
    display: block;
  }
  .single-post .post-author,
  .page .post-author,
  .author-page .post-author {
    width: 100%;
    position: relative;
    margin: 50px 0;
  }
  .single-post .post-author .author .portrait,
  .page .post-author .author .portrait,
  .author-page .post-author .author .portrait {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
  }
  .single-post .post-author .author .bio,
  .page .post-author .author .bio,
  .author-page .post-author .author .bio {
    height: 220px;
    padding: 40px 40px 40px 340px;
  }
  .single-post .post-author .author .bio h4,
  .page .post-author .author .bio h4,
  .author-page .post-author .author .bio h4 {
    margin-bottom: 15px;
  }
  .single-post .post-author .author .bio p,
  .page .post-author .author .bio p,
  .author-page .post-author .author .bio p {
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .single-post .post-comments hr,
  .page .post-comments hr,
  .author-page .post-comments hr {
    display: none;
  }
  .author-page .post-author {
    margin-top: 0;
  }
}
@media only screen and (max-width: 800px) {
  .pane {
    padding: 50px 0;
  }
  .strip {
    max-width: 800px;
    padding: 0;
  }
  h1,
  h2 {
    font-size: 3rem;
    line-height: 1.1em;
    letter-spacing: -1px;
  }
  h3 {
    font-size: 2.8rem;
  }
  h4 {
    font-size: 2.3rem;
  }
  .site-head {
    height: auto;
    max-height: auto;
    padding: 50px 0;
  }
  .site-head h1 {
    font-size: 3rem;
  }
  .site-head h2 {
    font-size: 2.0rem;
  }
  .site-page-head {
    height: 100px;
  }
  .site-page-head .blog-title-link img {
    margin: 0;
  }
  .site-page-head .blog-title-link h1 {
    display: none;
  }
  .site-footer {
    padding: 60px 0;
  }
  /* Main Page */
  .post-preview {
    margin: 0 auto 60px;
    padding: 0 40px;
  }
  .post-preview .post-image {
    height: 300px;
  }
  .post-preview .post-header h2 {
    margin-bottom: 8px;
    font-size: 2.8rem;
  }
  .post-preview .post-excerpt {
    padding: 10px 0 0 0;
  }
  /* Post Page */
  .single-post .post-image,
  .page .post-image,
  .author-page .post-image {
    height: 250px;
  }
  .single-post .post-image.no-cover,
  .page .post-image.no-cover,
  .author-page .post-image.no-cover {
    display: none;
  }
  .single-post .post-header h2,
  .page .post-header h2,
  .author-page .post-header h2 {
    font-size: 2.8rem;
  }
  .single-post .post-header,
  .page .post-header,
  .author-page .post-header,
  .single-post .post-content,
  .page .post-content,
  .author-page .post-content,
  .single-post .post-footer,
  .page .post-footer,
  .author-page .post-footer,
  .single-post .post-comments,
  .page .post-comments,
  .author-page .post-comments,
  .single-post .author-posts,
  .page .author-posts,
  .author-page .author-posts {
    padding: 0 50px;
  }
  .single-post .post-author h3,
  .page .post-author h3,
  .author-page .post-author h3 {
    padding: 0 50px;
  }
  .single-post .post-author .author .portrait,
  .page .post-author .author .portrait,
  .author-page .post-author .author .portrait {
    display: none;
  }
  .single-post .post-author .author .bio,
  .page .post-author .author .bio,
  .author-page .post-author .author .bio {
    height: auto;
    padding: 40px 50px;
  }
}
@media only screen and (max-width: 500px) {
  .pane {
    padding: 20px 0;
  }
  hr {
    margin: 30px 0;
  }
  .site-head {
    padding: 40px 0;
  }
  .site-head h1 {
    font-size: 3rem;
  }
  .site-head h2 {
    font-size: 2.0rem;
  }
  .site-footer {
    padding: 40px 0;
  }
  /* Main Page */
  .post-preview {
    margin: 0 auto 40px;
    padding: 0 20px;
  }
  .post-preview:last-child {
    margin-bottom: 20px;
  }
  .post-preview .post-image {
    height: 200px;
  }
  .post-preview .post-header h2 {
    margin-bottom: 5px;
    font-size: 2.2rem;
    line-height: 2.8rem;
  }
  .post-preview .post-excerpt {
    padding: 10px 0 0 0;
  }
  /* Post Page */
  .single-post .post-image,
  .page .post-image,
  .author-page .post-image {
    height: 200px;
  }
  .single-post .post-image.no-cover,
  .page .post-image.no-cover,
  .author-page .post-image.no-cover {
    display: none;
  }
  .single-post .post-header,
  .page .post-header,
  .author-page .post-header,
  .single-post .post-content,
  .page .post-content,
  .author-page .post-content,
  .single-post .post-footer,
  .page .post-footer,
  .author-page .post-footer,
  .single-post .author-posts,
  .page .author-posts,
  .author-page .author-posts {
    margin-bottom: 40px;
  }
  .single-post .post-header,
  .page .post-header,
  .author-page .post-header,
  .single-post .post-content,
  .page .post-content,
  .author-page .post-content,
  .single-post .post-footer,
  .page .post-footer,
  .author-page .post-footer,
  .single-post .post-comments,
  .page .post-comments,
  .author-page .post-comments {
    padding: 0 20px;
  }
  .single-post .post-author h3,
  .page .post-author h3,
  .author-page .post-author h3 {
    padding: 0 20px;
  }
  .single-post .post-author .author .portrait,
  .page .post-author .author .portrait,
  .author-page .post-author .author .portrait {
    display: none;
  }
  .single-post .post-author .author .bio,
  .page .post-author .author .bio,
  .author-page .post-author .author .bio {
    height: auto;
    padding: 30px 20px;
  }
}

/*
 * Visibility
 * Avoids setting display to `block` so it works also with `inline-block` and `table`
 */
/* Desktop and bigger */
@media (min-width: 960px) {
  .uk-visible-small {
    display: none !important;
  }
  .uk-visible-medium {
    display: none !important;
  }
  .uk-hidden-large {
    display: none !important;
  }
}
/* Tablets portrait */
@media (min-width: 768px) and (max-width: 959px) {
  .uk-visible-small {
    display: none !important;
  }
  .uk-visible-large {
    display: none !important ;
  }
  .uk-hidden-medium {
    display: none !important;
  }
}
/* Phone landscape and smaller*/
@media (max-width: 767px) {
  .uk-visible-medium {
    display: none !important;
  }
  .uk-visible-large {
    display: none !important;
  }
  .uk-hidden-small {
    display: none !important;
  }
}
/* Remove from the flow and screen readers on any device */
.uk-hidden {
  display: none !important;
  visibility: hidden !important;
}
/* It's hidden, but still affects layout */
.uk-invisible {
  visibility: hidden !important;
}
/* Show on hover */
.uk-visible-hover:hover .uk-hidden,
.uk-visible-hover:hover .uk-invisible {
  display: block !important;
  visibility: visible !important;
}
.uk-visible-hover-inline:hover .uk-hidden,
.uk-visible-hover-inline:hover .uk-invisible {
  display: inline-block !important;
  visibility: visible !important;
}
/* Hide on touch */
.uk-touch .uk-hidden-touch,
.uk-notouch .uk-hidden-notouch {
  display: none !important;
}
/* ==========================================================================
   End of file. Media queries should be the last thing here. Do not add stuff
   below this point.
   ========================================================================== */
